.nav-logo {
    width: 130px;
}
.top{
    background: #d8d3d3;
    color: black;
}
.active{
    color: #fff;
    background: #8d8d8d;
}
.blog-head{
    color: rgb(2, 2, 89);
    font-size: 33px;
    font-weight: 700;
    font-family: 'Lexend', sans-serif;
}

.footer-media-logo {
    width: 20px !important;
    height: 20px !important;
}
.footer {
    height: auto;
    background: #150d2b;
    color: white;
    display: flex;
    justify-content: center;

}

.cntr-img{
    width: 20px !important;
    height: 20px !important;
}
.copy-write {
    color: white;
    font-size: 15px;
}


.content-head {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

